body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.toast {
  position: absolute;
  height: 50px;
  width: 200px;
  z-index: 999;
  right: 10px;
  top: 60px;
}
.heading {
  display: block;
  text-align: center;
  margin-top: 50px;
}
.form-outline {
  margin-bottom: 30px;
}
